<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- title %></title>


	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/socket.js"></script>


</head>
<body>
	<div id="wrapper">
		<div class="container">

			<div id="messageBox" class="col-md-12">

				


			</div> <!--end #messageBox-->

			
			<div class="col-md-3">
				<select name="listUser" id="listUser" class="form-control">
					<option value="">Tat ca</option>
				</select>
			</div>
			
			<div class="col-md-9">
				<input type="text" id="messageInput" class="form-control">	
			</div>
			
		</div>
	</div>
</body>
</html>