body{
	font-family: Tahoma,
	font-size:12px;
	line-height: 18px;
}
#wrapper{
	margin-top:20px;
}
#messageBox{
	border:1px solid #cdcdcd;
	margin-bottom: 10px;
	height:500px;
	overflow: auto;
	border-radius: 3px;
	padding-top:20px;
}

.media-body p{
	
}